*{
  padding: 0;
  margin: 0;
}
/* BASE */
body{
  background-color:#d4d4ce ;/*#f9f3ed*/
  font-family: "Lato", sans-serif;
}

.reg_sign_back{
  background-color: #F08400;
}

.fleft{
  float: left;
}

.fright{
  float: right;
}

.dflex{
  display: flex;
  justify-content: center;
  align-items:center;
}
.ditalic{
  font-style: italic;
}
.dcenter{
  margin-left: auto;
  margin-right: auto;
}


/* MOBILE */

@media only screen and (max-width: 767px) {

}

/* DESKTOP */

@media only screen and (min-width: 1024px){
  .col-1 {width: 8.33%;}
  .col-1-1 {width: 14.33%;}
  .col-2 {width: 16.66%;}
  .col-3-1{width:22.4%;}
  .col-3-2{width:31.3%;}
  .col-3-3{width:41.02%;}
  .col-3-4{width:22%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}


  /*LOGIN & REGISTER*/

  .register_sign{
    font-size: 1.3vw;
    padding-bottom: 5%;
    padding-top: 5%;
    border: none;
    height: 100%;
  }

  .register_sign ul li {
    list-style: none;
    padding-left: 10%;
    margin-top: 2%;
  }

  .red_label{
    color: #ff0000;
    font-style: italic;
    float: right;
    margin-right: 10%;
  }

  .register_sign h1{
    text-align: center;
    text-decoration: underline;
  }

  .register_sign input[type="text"] , .register_sign input[type="password"] {
    font-size: 1.2vw;
    border-width: 0 0 0.2vw 0;
    border-style: inset;
    border-color:  #dddad8;
    background-color:#f6f6f6;
    outline: none;
  }

  .register_sign input[type="submit"]{
    font-size: 1vw;
    height: 2vw;
    outline: none;
    width:22%;
    margin-top: 3%;
  }

  .register_sign input[type="radio"]{
    margin-right: 1%;
  }

  .reg_sigin_ul_li_btn, .change_from_btn{
    text-align: center;
    padding: 0 !important;
  }

  .register_sign a{
    font-size: 1vw;
    margin-right: 5%;
    margin-bottom: 2%;
    text-decoration: underline;
  }

  .btn1{
    box-shadow: 0.3vw 0.3vw 2vw 0.3vw  rgba(0, 0, 0, 0.5);
    border: none;
    background-color:#f6f6f6;
  }

  .btn1:hover{
    box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 1);
    transition:0.5s;
  }

  .pmid1{
    margin-top:7%;
    background-color:#f6f6f6 ;/*#1c768f*/
    border-radius: 0.8vw;
    box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.4);
  }

  .pmid2{
    margin-top:12%;
    background-color:#f6f6f6 ;/*#1c768f*/
    border-radius: 0.8vw;
    box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.4);
  }


  /* INTERFEJS */

  a{
    text-decoration: none;
    color:black;
    color: none
  }

  a:visited{
      color:black;
  }

  .inteMenu{
    background-color: #242321;
    height: 90%;
    position: absolute;
    left: 4%;
    top: 5%;
  }

  .inteMenu:hover{
    box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.5);
  }

  .inteNav:hover{
    box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.6);
  }

  .inteNav{
    background-color: #f6f6f6;
    height: 7.5%;
    position: absolute;
    right:4%;
    top:10%;
    display: flex;
    align-items: center;
  }

  .inteMain{
    height: 70%;
    position: absolute;
    right:4%;
    top:20%;
  }

  .user_login{
margin-left: 1.1vw;
  }

  /* MENU i NAV*/
  .inteNav ul{
    position: absolute;
    right: 1vw;
    height: 100% ;
    display: flex;
    justify-content: center;
  }

  .inteNav ul li{
    margin-left: 1.2vw;
    font-size: 1.2vw;
    display: flex;
    justify-content:center;
    align-items: center;
  }

  .inteNav ul li:hover{
     border-bottom:0.3vw solid #ffac1d;
     outline: none;
     transition: 0.2s;
  }

  .inteMenu ul {
      margin-top: 25%;
  }

  .inteMenu  ul li{
    list-style-type: none;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inteMenu  ul li a{
    color: #f6f6f6;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inteMenu ul li:hover{
    background-color: #33322F;
    border: 0.25em solid #ffac1d;
    border-top: none;
    border-bottom: none;
    outline: none;
  }

  /*Main :sekcje*/
  .headpar{
    text-align: center;
    font-size: 1.5vw;
    margin-top: 5%;
  }

  .midpar{
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    color: #032539;/*#57cad5;*/
  }

  .sec > div >p {
      display: block;
  }

  /*[class*='sec'] div:not([class='progressBar']&&[class='sec4']):hover{*/
  .sec1 div:hover,.sec2 div:hover, .sec4 div:hover{
    box-shadow:0vw 0vw 1vw 0.3vw rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    background-color: #F08400;
  }

  .sec3 div:hover{
    box-shadow: none;
    transition: none;
    background-color:#f6f6f6;
  }
  .sec1{
    height: 40%;
    margin-bottom: 10%;
  }

  .sec1 div{
    height: 100%;
    float: left;
    margin-right:3%;
    background-color: #f6f6f6;
  }
  .sec1 div:last-child{
    margin-right: 0%;
  }

  .sec3 div:last-child{
    margin-right: 0%;
  }
  .sec2{
    height: 20%;
  }

  .sec2 > div {
    height: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sec3{
    height:80%;
  }

  .sec3 > div{
    height: 100%;
    float: left;
    margin-right:3%;
    background-color: #f6f6f6;
  }

  .sec4{
    height: auto;
    margin-bottom: 10%;
  }
.sec4 div{
    height: auto;
    float: left;
    margin-right:3%;
    background-color: #f6f6f6;
    margin-bottom: 1%;
  }


/*POFILE*/

.profile_content{
  position:relative;
  top: 4%;
  height: 27em;
  width: 100%;
  background-color: #f6f6f6;
}

.profile_info, .profile_form{
  height: 100%;
  display: flex;
  align-items:center;
}

.profile_info ul, .profile_form ul{
    list-style-type: none;
    margin-left: 7%;
  }

.profile_info ul{
  width: 40%;
}

.profile_info ul li{
  padding-bottom: 10%;
  margin-top: 10%;
  font-size: 1.5vw;
}
  .change_form{
    margin-top: 10%;
    padding-bottom: 10%;
    padding-top: 10%;
    border: none;
    height: 100%;
    width: 100%;
  }

  .change_form ul li {
    list-style: none;
    padding-left: 10%;
    margin-top: 0.7em;
  }
  .change_form h3{
    font-size: 1.5vw;
    text-align: center;
    text-decoration: underline;
  }

  .change_form p{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
  }

  .change_form input[type="text"] , .change_form input[type="password"] {
    font-size: 1vw;
    height:1.7em;
    border-width: 0 0 0.1vw 0;
    border-style: inset;/*#032539*/
    border-color:  #dddad8;
    background-color:#f6f6f6;
    outline: none;
    margin-left: auto;
    margin-right: auto;
  }

  .change_form input[type="submit"]{
    font-size: 1vw;
    height: 2em;
    outline: none;
    width:10em;
    margin-top: 3%;
  }

/* SET */

.setName{
  height:100%;
  text-align: center;
  font-size: 2.5vw;
  color: #032539;/*#57cad5;*/
}
