*{
  padding: 0;
  margin: 0;
}
/* BASE */
body{
  background-color:#d4d4ce ;/*#f9f3ed*/
  font-family: "Lucida Sans", sans-serif;
}

header{}



/* MOBILE */

@media only screen and (max-width: 767px) {

}

/* DESKTOP */

@media only screen and (min-width: 1024px){
  .col-1 {width: 8.33%;}
  .col-1-1 {width: 14.33%;}
  .col-2 {width: 16.66%;}
  .col-3-1{width:22.4%;}
  .col-3-2{width:31.3%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  /* FORM */

  form{
    font-size: 3vw;
    padding-bottom: 1em;
    padding-top: 1em;
    border: none;
    position: relative;
    height: 100%;
  }

  form input[type="text"]{
    margin:0 25% 0 25% ;
    height: 3em;
    border-width: 0 0 2px 0;
    border-style: inset;/*#032539*/
    border-color:  #dddad8;
    background-color:#f6f6f6;
    outline: none;
  }

    #but1{
    width:22%;
    margin-left: 25% ;
    margin-top: 3%;
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.3);
    border: none;
    background-color:#f6f6f6;
    height: 3em;
    border-radius: 0.5em;
    color:#176175;
  }

    #but2{
      width:22%;
      margin-right: 25%;
      margin-top: 3%;
      box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.3);
      border:none;
      height: 3em;
      background-color:#f6f6f6;
      border-radius: 0.5em;
      color:#176175;
      float: right;
  }

    #but1:hover{
      background-image: linear-gradient(to right,#032539,#1c768f);
      color: #fff;
      transition: 1s;
    }

    #but2:hover{
      background-image: linear-gradient(to left,#032539,#1c768f);
      color: #fff;
      transition: 1s;
    }


  h1{
    text-align: center;
    font-size: 2.5vw;
  }

  /* LOGIN */
  .logimg{
    background-color: #fa991c;
    height: 100%;
    border-radius: 0.8em 0 0 0.8em;
  }

  .fleft{
    float: left;
  }

  .fright{
    float: right;
  }

  .pmid{
    margin: 0 auto;
    margin-top: 7%;
    background-color:#f6f6f6 ;/*#1c768f*/
    height: 25em;
    border-radius: 0.8em;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.3);
  }


  /* INTERFEJS */

  a{
    text-decoration: none;
    color: none
  }

  a:visited{
      color:black;
  }

  .inteMenu{
    background-color: #242321;
    height: 40em;
    position: absolute;
    left: 3em;
    top: 3em;
    bottom: 1em;
  }

  .inteMenu:hover{
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.5);
  }

  .inteNav:hover{
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.3);
  }

  .inteNav{
    background-color: #f6f6f6;
    height: 3em;
    position: absolute;
    right:3em;
    top:4em;
  }

  .inteMain{
    height: 32em;
    position: absolute;
    right:3em;
    top:9em;
  }

  /* MENU i NAV*/
  .inteNav ul li{
    display: inline;
    margin-left: 1em;
    padding: 1em 0 0.75em 0;
    font-size: 1em;
  }

  .inteNav ul li:hover{
    border-bottom:0.3em solid #ffac1d;
  }

  .inteNav ul{
    float: right;
    margin-right: 3em;
    padding-top: 0.8em;
    height: 3em;

  }

  .inteMenu ul {
      margin-top: 3em;

  }

  .inteMenu  ul li{
    list-style-type: none;
    text-align: center;
    padding: 1.2em 0 1.2em 0;

  }
  .inteMenu  ul li a{
    color: #f6f6f6;
  }

  .inteMenu  ul li:hover{
    background-color: #33322F;
    border: 0.25em solid #ffac1d;
    border-top: none;
    border-bottom: none;

  }

  /*Main :sekcje*/

  .sec > div >p {
      display: inline;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }

  [class*='sec']  div:hover{
    box-shadow:0px 0px 12px 5px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    background-color: rgba(255,172,29, 0.6);
  }

  .sec1{
    height: 15em;
    margin-bottom: 1.5em;
  }

  .sec1 > div{
    height: 15em;
    float: left;
    margin-right:3%;
    background-color: #f6f6f6;
  }
  .sec1 > div:last-child{
    margin-right: 0%;
  }

  .sec2{
    height: 15em;
  }

  .sec2 > div {
    height: 15em;
    background-color: #f6f6f6;
  }

/*POFILE*/

.profimg{
  height: 14em;
  width: 14em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 3px outset #ffac1d;
}

.proflvl{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  left:10em;
  background: #1c768f;
  border-radius: 50%;
  position:relative;
  top: 10em;
}

.profcon{
  position:relative;
  top: 1em;
  height: 16em;
  width: 50em;
  margin-left: auto;
  margin-right: auto;
  background-color:#f6f6f6 ;
}

[class*='prof_ul'] {
  height: inherit;
}

.prof_ul1{
  width: 20%;
  margin-left: 5%;
}

.prof_ul2{
width: 40%;
}

.prof_ul3{
  width: 30%;
  margin-right: 5%;
}

[class*='prof_ul'] > li{
  list-style-type: none;
  margin-top: 1.5em ;
}
 .profcon input {
   color:#1c768f;
   outline: none;
   border: none;
   background-color: #f6f6f6;
 }

.profcon input::placeholder{
color:#1c768f;
background-color: #f6f6f6;
}

.profcon button{
  border: none;
  width: 10em;
  height: 2.5em;
  background-color: #BF8115;
  border-radius:0.5em;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
  color:#402B07;
}

.profcon button:hover{
  box-shadow: none;
}

.profcon button:focus{
  outline: none;
}
